@font-face {
    font-family: Reith;
    src: url(https://nav.files.bbci.co.uk/orbit/1b2e292884201dd13064a9204e177864/font/BBCReithSans_W_Rg.woff2);
}

@font-face {
    font-family: Reith;
    src: url(https://nav.files.bbci.co.uk/orbit/1b2e292884201dd13064a9204e177864/font/BBCReithSans_W_Bd.woff2);
    font-weight: bold;
}

.share-tool {
  display: inline-block;
  position: relative;
  text-align: center;
  font-family: Reith;
  font-size: 14px;
  float: right;
  padding-bottom: 1em;
}

.share-tool:hover .dropdown-button {
  background-color: #000;
  color: #fff;
}

.share-tool:hover .share-icon {
    background-image: url(images/white/share-icon.png);
}

.dropdown-button {
  background-color: #fff;
  border-color: #000;
  border-width: 2px;
  border-radius: 20px;
  color: #000;
  font-size: 14px;
  width: 114px;
  height: 28px;
  font-family: Reith;
}

.social-networks {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #fff;
  width: 230px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 5px 0;
  border-style: solid;
  border-width: 2px;
  border-color: lightgrey;
  margin-top: 15px;
  border-radius: 5px;
  padding-bottom: 0;
  left: -50%;
}

.share-title {
  display: block;
  padding: 17px 0;
  font-weight: bold;
}

.social-network {
  display: block;
  padding: 17px 0;
}

.sn-twitter:hover {
    background-color: #00ACEE;
    color: #fff;
}

.sn-twitter:active {
    background-color: #0080B3;
    color: #fff;
}

.sn-facebook:hover {
    background-color: #3B5998;
    color: #fff;
}

.sn-facebook:active {
    background-color: #2b406e;
    color: #fff;
}

.sn-pinterest:hover {
    background-color: #C8232C;
    color: #fff;
}

.sn-pinterest:active {
    background-color: #981b21;
    color: #fff;
}

.sn-linkedin:hover {
    background-color: #0072B1;
    color: #fff;
}

.sn-linkedin:active {
    background-color: #004266;
    color: #fff;
}

.sn-tumblr:hover {
    background-color: #34526F;
    color: #fff;
}

.sn-tumblr:active {
    background-color: #213445;
    color: #fff;
}

.sn-copy {
    background-color: #E5E5E5;
    color: #000;
}

.sn-copy:hover {
    background-color: #5A5A5A;
    color: #fff;
    cursor: pointer;
}

.sn-copy:active {
    background-color: #333333;
    color: #fff;
    cursor: pointer;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
}

.show {
    display: block;
}

.icon {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    background-size: contain;
    padding-right: 15px;
    vertical-align: middle;
}

.sn-text {
    width: 76px;
}

.share-icon {
    background-image: url(images/colour/share-icon.png);
    width: 15px;
    height: 25px;
    padding: 0px;
    background-position: 0 33%;
}

.twitter-icon {
    background-image: url(images/colour/twitter.png);
}

.sn-twitter:hover .icon {
    background-image: url(images/white/twitter.png);
}

.facebook-icon {
    background-image: url(images/colour/facebook.png);
}

.sn-facebook:hover .icon {
    background-image: url(images/white/facebook.png);
}

.pinterest-icon {
    background-image: url(images/colour/pinterest.png);
}

.sn-pinterest:hover .icon {
    background-image: url(images/white/pinterest.png);
}

.tumblr-icon {
    background-image: url(images/colour/tumblr.png);
}

.sn-tumblr:hover .icon {
    background-image: url(images/white/tumblr.png);
}

.linkedin-icon {
    background-image: url(images/colour/linkedin.png);
}

.sn-linkedin:hover .icon {
    background-image: url(images/white/linkedin.png);
}

.copy-icon {
    background-image: url(images/colour/copy.png);
}

.sn-copy:hover .icon {
    background-image: url(images/white/copy.png);
}

.sn {
    text-align: left;
    display: inline-block;
    padding-left: 60px;
    padding-right: 50px;
    width: 120px;
}

@media only screen and (max-device-width: 1008px) {
    .dropdown-button {
        font-size: 42px;
        border-radius: 60px;
        height: 84px;
        width: 342px;
        padding: 0;
        border-width: 6px;
    }

    .icon {
        width: 72px;
        height: 72px;
        padding-right: 45px;
    }

    .social-networks {
        min-width: 690px;
        left: -105%;
    }

    .social-network {
        padding: 51px 0;
    }

    .share-tool {
        font-size: 42px;
    }

    .sn {
        padding-left: 180px;
        padding-right: 180px;
        width: 350px;
    }

    .share-icon {
        width: 45px;
        height: 76px;
        padding: 0px
    }

    .share-title {
        display: block;
        padding: 51px 0;
        font-weight: bold;
    }
}
